body {
    background: #0a192f;
    font-family: "Calibre", "San Francisco", "SF Pro Text", sans-serif;
    margin: auto;
    max-width: 1000px;
}   

#header {
    color: rgb(204, 214, 246);
}

#background {
    color: rgb(100, 255, 218);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

#logo {
    position: absolute;
    right: 400px;
    bottom: 900px;
}

ul li {
    color: rgb(100, 255, 218);
    font-family: "Calibre", "San Francisco", "SF Pro Text", sans-serif;
}

#exampleCode {
    color: rgb(100, 154, 255);
}

#contact {
    color: rgb(204, 214, 246);
}
#aboutMe {
    color: rgb(100, 255, 218);
}